// ---------------------
//     BASE
// ---------------------

    // *--------- LAYOUT ---------*

    // *--------- COLORS ---------*
    $base__color: #292935;
    $base__color--active: lighten($base__color, 40);
    $base__color--lighter: #a1a1a1;
    $second__color: #4044e6;